{% extends 'fossee_manim/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container-fluid jumbotron" align="justify"
	style="margin-top:20px; padding:50px; background-color: transparent;">
	<!-- style="padding-top:120px"> -->
	<center>
		<h1>About FOSSEE Animations</h1>
		<h4 style="color: #555555;"><i>What</i> do we do and <i>why</i>?</h4>
	</center>

	<div class="container" style="font-family: 'Lato', sans-serif; background-color: white;">
		<hr>
		The FOSSEE Animations Project is focused on making seemingly complicated Mathematics topics feel natural and approachable through animations.
 		We aim to make a repository of such animations. All animations are made with open source software and libraries such as Manim, Blender, Vpython, etc.
		<br><br>
		Anyone can contribute to this project! You may read the <a href="animations.fossee.in/guidelines">Guidelines page</a> for detailed instructions on how you can contribute.
		<br><br>
		We conduct activities like Internships on Real Analysis, Complex Analysis and Algebra. To view our repository on Mathematics topcis, visit <a href="math.animations.fossee.in">math.animations.fossee.in</a>
		We also conduct workshops on Animating Math with Manim in colleges and universities. You can write to us at <a href="mailto:animations@fosseein?subject=feedback">animations@fossee.in</a> to request a workshop at your college.
		<br><br>
		The FOSSEE Animations project comes under the FOSSEE Project at IIT Bombay. The FOSSEE project is funded by the National Mission on Education through ICT, MHRD, Government of India.
	</div>
</div>
{% endblock content %}
