{% extends 'fossee_manim/base.html' %}

{% block title %}
    Delete Proposal
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <center>
            <h2>Delete Proposal : {{ proposal.title }}</h2>
        </center>
        <table class="table table-hover" style="font-family: 'Lato', sans-serif;">
            <tbody>
            <tr>
                <td>Proposal Name :</td>
                <td>{{ proposal.title }}</td>
            </tr>
            <tr>
                <td>Proposal category :</td>
                <td>{{ proposal.categorye }}</td>
            </tr>
            <tr>
                <td>Sub Category :</td>
                <td>{{ proposal.subcategory }}</td>
            </tr>
            <tr>
                <td>Contributor :</td>
                <td>{{ proposal.contributor }}</td>
            </tr>
            <tr>
                <td>Created on :</td>
                <td>{{ proposal.created }}</td>
            </tr>
            <tr>
<td colspan="2">
       <center>
          <a href="{% url 'delete_proposal_info' proposal.id %}"><button type="button" class="btn btn-info" id="btnred">Delete {{ proposal.title }}</button></a>
       </center>
</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}